* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-height: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    margin: 0rem 1rem;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 12fr;
    grid-template-columns: 2fr 10fr;
}

.sidebar-container {
    background-color: skyblue;
    color: white;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 2fr 7fr 21fr;
}

.logo-wrapper > * {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
}

.logo-wrapper img {
    max-height: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0rem 1rem; 
}

.options-wrapper > * {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 1em 0;
}

.top-bar-container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;    
    align-items: center;
    justify-items: left;
}

input {
    width: 1000px;
}

button {
    width: 6em;
    height: 2em;
    background-color: skyblue;
    color: white;
    border-radius: 0.5em;
    border-width: 0;
}

.username {
    font-size: large;
    font-weight: bold;
}

.main-header {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr 2fr;
    justify-items: left;
    align-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 6fr 4fr;
}

.projects-container {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 5fr 5fr;
}

.projects-title {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project-cards-container {
    margin-left: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.card {
    margin: 1em;
    padding: 1em;
    background-color: grey;
    border-radius: 1em;
    min-width: 300px;
    min-height: 150px;
    width: auto;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

.buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
}

.projects-title {
    font-size: large;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
}